.foodItem_container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  font-family: Roboto;
  color: #334155;
  margin-bottom: 10px;
  padding-left: 20px;
  min-width: 30vw;
}
.foodItem_img {
  height: 100px;
  width: 160px;
  border-radius: 8px;
}
.foodItem_name_container {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.foodItem_heading {
  font-size: 16px;
}
.react_Rupee {
  height: 14px;
  width: 14px;
}
.react_star {
  height: 14px;
  width: 14px;
  color: gold;
  margin-right: 5px;
}
.foodItem_cost {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.foodItem_rating {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}
.add_className {
  color: gold;
  border-color: gold;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  width: 40px;
}
@media screen and (min-width: 992px) {
  .foodItem_img {
    height: 150px;
    width: 255px;
  }
  .foodItem_heading {
    font-size: 18px;
  }
  .foodItem_container {
    align-items: center;
    min-width: 30vw;
  }
  .foodItem_cost {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .add_className {
    margin-top: 10px;
  }
}
.counter_container {
  font-family: Roboto;
  color: #334155;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20vw;
}
.counter_button {
  height: 14px;
  width: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quantity_no {
  font-size: 16px;
  margin-left: 5px;
  margin-right: 5px;
}
.count-value {
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 992px) {
  .counter_container {
    margin-top: 10px;
  }
}
